# I recommend setting your API key here if you're going to ssh into a new machine and use the local backend
WANDB_API_KEY=YOUR_WANDB_API_KEY

# Optional, git-related environment variables
# You may need these if you want to make any git commits on a new machine
GIT_USER_NAME="Your Name"
GIT_USER_EMAIL=your.email@example.com
# A GitHub token might be required for commiting to the private `agent-reinforcement-training` repository
GITHUB_TOKEN=YOUR_GITHUB_TOKEN